.app{
    display: flex;
    background-color: #f3f2ef;
    flex-direction: column;
}
.app__body{
    display: flex;
    margin-top: 35px;
    margin-left: 20px;
    margin-right: 20px;
    min-width: 1200px;
}